.detail-section {
    display: flex;
    margin: 4rem auto 4rem auto;
    justify-content: space-around;
    border-radius: 10px;
}

.detail-view-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 95vw;
    padding: 2rem;
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    box-shadow: 8px 12px 20px 5px rgba(0, 0, 0, 0.59);
}

.detail-view-container h2 {
    color: var(--secundary-color);
    font-size: 2.5rem;
}

.detail-view-image {
    width: 60vw;
    height: calc(60vw / 1.618);
    object-fit: fit;
    margin-right: 0.5rem;
}

.detail-view-info {
    height: calc(60vw / 1.618);
    margin: 1.2rem;
}

.description {
    height: 18rem;
    text-align: justify;
    overflow-y: scroll;
    padding-right: 1.4rem;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid var(--secundary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secundary-color);
}