.detail-view-container {
    display: flex;
    margin: 4rem auto 4rem auto;
    width: 95vw;
    background-color: var(--nav-background-color);
    box-shadow: 8px 12px 20px 5px rgba(0, 0, 0, 0.59);
    color: var(--primary-color);
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.detail-view-container figcaption>h2 {
    color: var(--secundary-color);
    font-size: 1.5em;
}

.detail-view-image {
    width: 60vw;
    height: calc(60vw / 1.618);
    object-fit: cover;
    object-position: left top;
}

.detail-view-info {
    margin: 1rem;
}

.description {

    height: 500px;
    text-align: justify;
    overflow-y: scroll;
    padding-right: 1.4rem;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid var(--secundary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secundary-color);
}